<center><font size="100"> Income Statistic</font></center>
<select id="select01">
  <option disabled selected>Select</option>
  <option value="month" >Last 31 days</option>
  <option value="week" >Last 7 days</option>
  <option value="year" >Last year</option>
  <option value="pie">Incomes by categories(Total)</option>
</select>

<div class="myClass" id="pie">
  <table style="width:20%" >
    <% @incomes.select("DISTINCT(incategory_id)").each do |income| %>
      <tr>
        <td><%= income.incategory_id %></td>
        <td><%= income.incategory.name if income.incategory_id? %></td>

      </tr><% end %>
  </table>

  <%= pie_chart Income.group(:incategory_id).sum('price') %>
</div>

<div class="myClass" id="month">
  <%= line_chart Income.group_by_day(:updated_at, last: 31, current: true).sum('price'),
                 title: 'Monthly Income',
                 colors: ['blue'],
                 library: {
                     yAxis: {
                         labels: {
                             format: '${value}'
                         }
                     },
                     tooltip: {
                         pointFormat: 'Total Spent: <b>{point.y}</b>',
                         xDateFormat: '%B',
                         valuePrefix: '$'
                     }
                 }
  %>
</div>

<div class="myClass" id="week">
  <%= line_chart Income.group_by_day(:updated_at, last: 7, current: true).sum('price'),
                 title: 'Weekly Income',
                 colors: ['green'],
                 library: {
                     yAxis: {
                         labels: {
                             format: '${value}'
                         }
                     },
                     tooltip: {
                         pointFormat: 'Total Spent: <b>{point.y}</b>',
                         xDateFormat: '%B',
                         valuePrefix: '$'
                     }
                 }
  %>
</div>
<div class="myClass" id="year">
  <%= line_chart Income.group_by_month(:updated_at, last: 12, current: true).sum('price'),
                 title: 'Year',
                 colors: ['red'],
                 library: {
                     yAxis: {
                         labels: {
                             format: '${value}'
                         }
                     },
                     tooltip: {
                         pointFormat: 'Total Spent: <b>{point.y}</b>',
                         xDateFormat: '%B',
                         valuePrefix: '$'
                     }
                 }
  %>
</div>


<script>
    $(function () {
        $("#admin").show();

        $("#select01").on("change", function () {
            $(".myClass").hide();
            $("div[id='" + $(this).val() + "']").show();
        });
    });
</script>
